h1{
    font-family: 'Nova Cut', cursive;
    font-size:100px;
    text-decoration: overline;
}


p {
    font-family: 'Syne Mono', monospace;
    font-size:35px;
}

div{
    font-family: 'Noto Music', sans-serif;
    font-size:50px;
}


.weight{
    font-weight:100;
    font-size:50px;
}
