*{
    color:white;
    background-color:rgb(0, 0, 0);
}

h1{
    font-family: 'Nova Cut', cursive;
    font-size:100px;
    text-decoration: overline;
}


p.fuente1 {
    font-family: 'Syne Mono', monospace;
    font-size:35px;
    text-shadow: 3px 3px 3px #ababab;
}

p.fuente2 {
    font-family: 'Patua One', cursive;
    font-size:35px;
    text-shadow: 3px 3px 3px #ababab;
}

div{
    font-family: 'Noto Music', sans-serif;
    font-size:50px;
}


.weight{
    font-weight:100;
    font-size:50px;
    text-shadow: 3px 3px 3px #ababab;
}
