header{
    display:flex;
    flex-direction: row;
    background-color:black;
    color:white;
}

header > p{
    display:flex;
    align-items: center;
    justify-content: center;
}

section.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.boton1{
    background-color:orange;
}

div.boton2{
    background-color:orange;
}
div.boton3{
    background-color:orange;
}