.container {
    width: 90%;
    /* Altura mínima del elemento */
    min-height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    /* Espacio entre elementos */
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items alinea elementos de manera vertical */
    align-items:flex-start;
}

.caja{
    width: 150px;
    height: 150px;
}

.caja1 {
    border: 2px solid rgb(255, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
}

.caja2 {
    border: 2px solid rgb(219, 255, 16);
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

.caja3 {
    border: 2px solid royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.caja4 {
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
}


